{cover_enabled, false}.

{lib_dirs, ["deps", "apps"]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [{lager,   ".*",  {git, "git://github.com/basho/lager",           {branch, "master"}}},	
        %%{rafter,  ".*", {git, "git://github.com/martinsk/rafter.git",    {branch, "master"}}},
        {seestar, ".*", {git, "git://github.com/iamaleksey/seestar.git", {branch, "master"}}},
        {jiffy,   ".*", {git, "git://github.com/tigertext/jiffy.git",    {branch, "master"}}},
	{eper,    ".*", {git, "git://github.com/tigertext/eper.git",     {branch, "master"}}},
	{cowboy,  ".*", {git, "git://github.com/ninenines/cowboy.git",     {branch, "master"}}}
]}.
